<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subnetting tool</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
    <form action="/" method="post">
        <label for="CIDR">Enter the CIDR range: </label>
        <input type="text" id="CIDR_range" name="CIDR_range" required>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>